<!doctype html>
<html>
<title>Game Deals Scraper</title>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header>
  <h1 style="text-align:center">Game Deals Scraper</h1>
  <nav style="text-align:center; background-color:darkorchid">
    <a href="main">Accueil</a> -
    <a href="adressesveterinaires">Nos établissements vétérinaires</a> -
    <a href="connexion_espacepro">Mon espace professionnel</a>
    <a href="connexion_espaceclient">Mon espace client</a>
  </nav>

</header>
<section style="text-align: center;">
    <input 
    type="text"
    name="answer"  
    placeholder=" Rechercher par nom du jeu "
    value=""
    />
    <button type="submit">🔍 Rechercher</button>
</section>

</html>